<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Survey Questionnaire</title>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js' integrity='sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==' crossorigin='anonymous'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.14/vue.min.js" integrity="sha512-BAMfk70VjqBkBIyo9UTRLl3TBJ3M0c6uyy2VMUrq370bWs7kchLNN9j1WiJQus9JAJVqcriIUX859JOm12LWtw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css' integrity='sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==' crossorigin='anonymous'/>
  <link rel="stylesheet" href="./css/index.css">

  <script>
    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyBQ7xRAjS_F0MG8Eqgv9ztutIhBa8en2RE",
      authDomain: "dino-survey.firebaseapp.com",
      projectId: "dino-survey",
      storageBucket: "dino-survey.appspot.com",
      messagingSenderId: "361608865739",
      appId: "1:361608865739:web:f1f45452a317e02b22b84e"
    };
  
    // Initialize Firebase
    const firebaseApp = firebase.initializeApp(firebaseConfig);

    const db = firebase.firestore(firebaseApp);
  </script>

  <script src="./js/preload.js"></script>
</head>
<body>
  <div id="app" class="container">
    <vc-form id="main-form" ref="main-form"></vc-form>
  </div>


  <!-- Vue Components-->
  <script type="text/x-template" id="vc-form">
    <form class="row" @submit="nextPage" :action="action" :method="method" :data-qid="qid" :data-sid="sid" :data-session="sessID">
      <vc-text v-show="page == 'vc-text'" ref="text" class="twelve columns">
      </vc-text>
      <vc-card v-show="page == 'vc-card'" ref="card" class="twelve columns">
      </vc-card>

      <div v-show="session.finished" class="message twelve columns">
        finished!
      </div>

      <div class="controls twelve columns">
        <button type="button" @click="previousPage" :disabled="disablePrev">Previous</button>
        <button class="button-primary" type="submit" @click="nextPage" :disabled="disableNext">Next</button>
      </div>
    </form>
  </script>

  <script type="text/x-template" id="vc-landing">

  </script>
  
  <script type="text/x-template" id="vc-card">
    <div class="card">
      <h3 class="card-title" v-if="title" v-html="title">{{title}}</h3>
      <strong class="card-subtitle" v-if="subtitle" v-html="subtitle">{{subtitle}}</strong>
      <div class="card-body">
        <div class="card-content" v-if="question" v-html="question">{{question}}</div>
        <label v-if="answers" v-for="(answer, index) in answers" :class="{horizontalDisplay: 'horizontal'}">
            <input type="radio" name="answer" :value="index" :id="'answer-' + index" :selected="index == ans" v-model="qAns" required/>
            <span class="label-body" v-if="answer">{{answer}}</span>
        </label>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="vc-text">
    <div class="texts container" v-if="texts">
      <div class="text row" v-for="(text, index) in texts">
        <h3 class="title twelve columns" v-if="text.title">{{text.title}}</h3>
        <strong class="subtitle twelve columns" v-if="text.subtitle">{{subtitle}}</strong>
        <div class="content twelve columns" v-html="text.content">
          {{content}}
        </div>
        <div class="additional-info twelve columns" v-if="text.additionalInfo">
          <dl>
            <li v-for="(addInfo, index) in text.additionalInfo">
              <b>{{addInfo.title}}</b>
              <p v-html="addInfo.text">{{addInfo.text}}</p>
            </li>
          </dl>
        </div>
      </div>
    </div>
    <div class="texts container" v-else>
      <div class="text row">
        <h3 class="title twelve columns" v-if="title">{{title}}</h3>
        <strong class="subtitle twelve columns" v-if="subtitle">{{subtitle}}</strong>
        <div class="content twelve columns" v-html="content">
          {{content}}
        </div>
        <div class="additional-info twelve columns" v-if="additionalInfo">
          <dl>
            <li v-for="(addInfo, index) in additionalInfo">
              <b>{{addInfo.title}}</b>
              <p v-html="addInfo.text">{{addInfo.text}}</p>
            </li>
          </dl>
        </div>
        <div class="input twelve columns" v-if="ifInput">
          <label for="email">Email Address:</label>
          <input class="u-full-width" type="email" v-model="email" placeholder="Email Address..." requried/>
        </div>
      </div>
    </div>
  </script>
  <script src="./js/script.js"></script>
</body>
</html>